.body-template{
  height: auto;
  background-color: #fafafa;

.banner{
    height: 70vh;
    background: url('../images/image1.jpg');
    background-size: cover;
}

main{
    section {
        .pag{
          height: auto;
          padding: 20px 0;
    
          .pag-title{
            width: 100%;
            padding: 20px 0;
            h2{
              font-weight: 200;
              text-align: center;
              text-transform: uppercase;
            }
          }
        }
    }
}
}

.container{
    width: 80%;
    margin: auto;
}
