.body-template {
  width: 80%;
  height: auto;
  margin: auto;
  background-color: #fafafa;

  .banner {
    height: 70vh;
    background: url('../images/image1.jpg');
    background-size: cover;
  }

  main {
    section {
      .pag {
        height: auto;
        padding: 20px 0;

        .pag-title {
          width: 100%;
          padding: 20px 0;

          h2 {
            font-weight: 200;
            text-align: center;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .body-template {
    width: 100%;

    .banner {
      background-position: center;
    }
  }
}